!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TuitionManagement
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}

    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      %a.navbar-brand{:href => "#"} Tuition App
      %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          - if current_user
            %li.nav-item.active
              = link_to "Home", root_path, class: "nav-link"
            %li.nav-item
              = link_to "My Tutions", tuitions_path, class: "nav-link"
            %li.nav-item
              = link_to "Logout", '/logout', class: "nav-link"
            %li.nav-item
              .nav-link
                Signed in as #{current_user.name}
          - else
            %li.nav-item
              = link_to "Login", '/login', class: "nav-link"
            %li.nav-item
              = link_to "Signup", '/signup', class: "nav-link"

    .container
      = yield
